if ! direnv version 2.32.0; then
	exit 1
fi

if ! has make; then
	echo "make is not installed"
	exit 1
fi

if ! has unzip; then
	echo "unzip is not installed"
	exit 1
fi

if ! has curl; then
	echo "curl is not installed"
	exit 1
fi

if ! has git; then
	echo "git is not installed"
	exit 1
fi

if ! has lz4; then
	echo "lz4 is not installed"
	exit 1
fi

ROOT_DIR=$(pwd)
export ROOT_DIR

dotenv_if_exists

TAR=tar

if [[ "$OSTYPE" == "darwin"* ]]; then
	if has gtar; then
		TAR=gtar
	fi
fi

export TAR

BIN_DIR=${CACHE_BIN}/${BINARY_VERSION}
AKASH=${BIN_DIR}/akash

export BIN_DIR
export AKASH

make init

PATH_add "$CACHE_BIN"
